<%= form_for(@news) do |f| %>
  <% if @news.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@news.errors.count, "error") %> prohibited this from being saved:</h2>
      <ul>
      <% @news.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.text_field :title, class: 'input-title', placeholder: :title %>
  </div>
  <hr/>
  <div class="field">
    <%= f.text_field :slug_line, class: 'input-slugline', placeholder: :"Slug-line"  %>
  </div>
  <hr/>
  <div class="field">
    <%= f.text_area :content, class: "html-editor medium-editor-textarea", placeholder: "Content" %>
  </div>
  <hr/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
