<h1> <%= @news.title %> </h1>
<div class="btn-group btn-group-sm" role="group" style="  float: right;" aria-label="...">
  <%= link_to fa("plus", :text => t(:new)), new_news_path, class: "btn btn-success" if can? :create, @news %>
  <%= link_to fa("wrench", :text => t(:edit)), edit_news_path(@news), class: "btn btn-primary" if can? :update, @news %>
  <%= destroy_button @news if can? :destroy, @news %>
</div>
<hr>
<h5><i><%= @news.slug_line %></i></h5>
<hr>
<%= fa("calendar") %> <%= datetime_ago @news.created_at %>
<hr>
<news-content>
  <%= @news.content.html_safe %>
</news-content>
