<h1> <%= @news.title %> </h1>
<div class="btn-group btn-group-sm" role="group" style="  float: right;" aria-label="...">
  <%= link_to fa("plus", :text => t(:new)), new_news_path, class: "btn btn-default" if can? :create, @news %>
  <%= link_to fa("wrench", :text => t(:edit)), edit_news_path(@news), class: "btn btn-default" if can? :update, @news %>
  <%= link_to fa("trash", :text => t(:destroy)), destroy_news_path(@news), class: "btn btn-default", "data-destroy": true, "data-destroy-message": content_tag(:h4, (t(:are_you_sure_destroy, title: content_tag(:u, @news.title)))) if can? :destroy, @news %>

</div>
<hr/>
<h5><i><%= @news.slug_line %></i></h5>
<hr>
<%= fa("calendar") %> <%= datetime_ago @news.created_at %>
| <%= fa("heart") %> 1000
| <%= fa("share") %> 350
<hr>

<div class="row-fluid">
  <%= @news.content.html_safe %>
</div>
