<% if signed_in? %>
  <nav id="navbar-left" class="col-lg-1 col-md-1 col-xs-1" >
    <center><%= user_image_tag %></center>
    <hr/>
    <ul id="navbar-left-links"class="nav nav-stacked">
      <li><%= link_to fa("dashboard"), dashboard_path %></li>
      <li><%= link_to fa("newspaper-o"), news_index_path %></li>
      <li><%= link_to fa("wrench"), edit_registration_path(:user) %></li>
      <li><%= link_to fa("sign-out"), destroy_session_path(:user) %></li>
    </ul>
  </nav>
<% end %>

