<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>freak tags - Notification</title>
  </head>

  <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
    <table  width="100%" border="0" cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
          <td align="center" valign="top" style="padding-top: 32px;padding-bottom: 32px;padding-left: 16px;padding-right: 16px;width: auto !important;min-height: 1000px;background-color: #ebebeb;display: block !important;">
            <table width="544" border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr>
                          <td align="left" valign="top" style="width: 16px;height: 16px;text-align: left;vertical-align: top;background-color: #1380b7;font-size: 0 !important;-webkit-border-radius: 8px 0 0 0 !important;border-radius: 8px 0 0 0 !important;">
                            <%= image_tag "/mail/border-top-radius-left.png" %>
                          </td>
                          <td style="height: 16px;background-color: #1380b7;width: 94%;line-height: 0 !important;">&nbsp;</td>
                          <td align="right" valign="top" style="width: 16px;height: 16px;text-align: right;vertical-align: top;background-color: #1380b7;font-size: 0 !important;-webkit-border-radius: 0 8px 0 0 !important;border-radius: 0 8px 0 0 !important;">
                             <%= image_tag "/mail/border-top-radius-right.png" %>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td style="padding-bottom: 16px;padding-left: 16px;padding-right: 16px;width: 512px;background-color: #1380b7;">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr>
                          <td>
                             <%= image_tag "/mail/logo.png" %>
                          </td>                     
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                


                <tr>
                  <td style="padding-top: 32px;padding-bottom: 0;padding-left: 16px;padding-right: 16px;width: 512px;background-color: #f9f8fb;">

                    <p style="margin-bottom: 24px;-webkit-text-size-adjust: none;font-family: Arial, Helvetica, sans-serif;font-size: 14px;line-height: 22px;color: #a1a2a5;">
                      
                      <strong style="color:#54565c;">Title</strong>
                    </p>
                  </td>
                </tr>
                
                

                <tr>
                  <td align="center" style="background-color: #ffffff; padding:10px;">

                  Description
                  </td>
                </tr>



                <tr>
                  <td>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr>
                          <td align="left" valign="bottom" style="width: 16px;height: 16px;text-align: left;vertical-align: bottom;background-color: #ffffff;font-size: 0 !important;-webkit-border-radius: 0 0 0 8px !important;border-radius: 0 0 0 8px !important;">
                            <%= image_tag "/mail/border-bottom-radius-left.png" %>
                          </td>
                          <td class="emptyCell" style="height: 16px;background-color: #ffffff;width: 94%;line-height: 0 !important;">&nbsp;</td>
                          <td align="right" valign="bottom" style="width: 16px;height: 16px;text-align: right;vertical-align: bottom;background-color: #ffffff;font-size: 0 !important;-webkit-border-radius: 0 0 8px 0 !important;border-radius: 0 0 8px 0 !important;">
                            <%= image_tag "/mail/border-bottom-radius-right.png" %>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style="padding-top: 14px;padding-bottom: 0;padding-left: 0;padding-right: 0;font-family: Arial, Helvetica, sans-serif;text-align: center;font-size: 12px;line-height: 21px;width: 544px;color: #b2b2b2;">© 2015 freak tags. All Rights Reserved. <br>
                </td></tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
