<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= stylesheet_link_tag 'core', media: 'all' %>
    <%= javascript_include_tag 'core' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "layouts/application/constants" %>
    <%= render "layouts/application/navbar_top" %>
    <content class="container">
      <%= render "layouts/application/navbar_left" %>
      <yield class="col-lg-10 col-lg-offset-2 col-md-10 ">
        <%= render "layouts/application/flash" %>
        <%= yield %>
      </yield>
   </content>
  </body>
</html>
