<!DOCTYPE html>
<html>
<head>
  <title><%= t(:freaktags) %></title>
  <%= stylesheet_link_tag 'core', media: 'all' %>
  <%= javascript_include_tag 'core' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <body>
    <nav class="navbar navbar-default navbar-static">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only"><%= t(:toggle_navigation) %></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to image_tag('/assets/images/logo/navbar-top.png', :class => "logo"), root_path, {:class => "navbar-brand"} %>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
          <% if current_user.present? %>
            <li class="dropdown">
              <%= link_to fa("wrench"), "#", { :class => "dropdown-toggle",
                                               :"data-toggle" => "dropdown",
                                               :role => "button",
                                               :"aria-expanded" => "false" } %>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to fa("user", {:text => t(:profile)}), profile_path(current_user.username) %></li>
                <li class="divider"></li>
                <li><%= link_to fa("sign-out", {:text => t(:sign_out)}), "/account/sign-out" %></a></li>
                </ul>
            </li>
            <% else %>
              <li><%= link_to fa("sign-in", {:text => t(:sign_in)}), new_session_path(:user) %></li>
              <li><%= link_to fa("sign-in", {:text => t(:sign_up)}), new_registration_path(:user) %></li>
            <% end %>
          </ul>
        </div>
      </div>
   </nav>
   <div class="container">
    <% if current_user.present? %>
      <div class="col-lg-2 col-lg-offset-1" style="height:100%; ">
        <div class="col-xs-12">
          <div class="row">
            <img src="/assets/images/users/default.jpg" class="img-circle col-xs-12"/>
          </div>
          <div class="row">
            <h3><center><%= current_user.name %></center></h3>
            <hr>
          </div>
          <div class="row">
            <ul class="nav nav-stacked">
              <li role="presentation" class="active btn btn-link"><a href="#">Home</a></li>
              <li role="presentation" class="btn btn-link"><a href="#">Profile</a></li>
              <li role="presentation" class="btn btn-link"><a href="#"><%= fa("chat") %></a></li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
    <div id="yield" class="col-lg-6 <%= "col-lg-offset-3" unless current_user.present? %>">
      <%= yield %>
    </div>
  </div>
</body>
</body>
</html>
