<!DOCTYPE html>
<html>
<head>
  <title><%= t(:freaktags) %></title>
  <%= stylesheet_link_tag 'core', media: 'all' %>
  <%= javascript_include_tag 'core' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only"><%= t(:toggle_navigation) %></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><%= image_tag('/assets/images/logo/navbar-top.png', :class => "logo") %></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to t(:about), '/about' %></li>

            <% if current_user.present? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                  <i class="fa fa-user"></i>
                  <span><%= current_user.name %></span>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#" openModal="loginForm"><i class="fa fa-sign-in"></i> <span><%= t(:profile) %></span></a></li>
                  <li><a href="#" openModal="signUpForm"><i class="fa fa-users"></i> <%= t(:settings) %> </a></li>
                  <li class="divider"></li>
                  <li><i class="fa fa-lock"></i><%= link_to t(:sign_out), "/account/sign-out" %></a></li>
                </ul>
              </li>
            <% else %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                  <i class="fa fa-user"></i>
                  <span>Your Account</span>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#" openModal="loginForm"><i class="fa fa-sign-in"></i> <span><%= t(:sign_in) %></span></a></li>
                  <li><a href="#" openModal="signUpForm"><i class="fa fa-users"></i> <%= t(:join_us) %> </a></li>
                  <li class="divider"></li>
                  <li><a href="#" openModal="forgotPasswordForm"><i class="fa fa-lock"></i> <%= t(:forgot_password) %></a></li>
                </ul>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="col-lg-3" style="background:red;height:200px">
      </div>
      <div id="yield" class="col-lg-6">
        <%= yield %>
      </div>
      <div class="col-lg-3" style="background:blue;height:200px">
      </div>
    </div>
  </body>
</body>
</html>
