<!DOCTYPE html>
<html>
<head>
  <title>FreakTags</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav><h3>FreakTags</h3> <p stlye="text-align:right"> <%= current_user.username if current_user.present? %></p> </nav>
<hr />
<%= yield %>
<footer>
<footer>
</body>
</html>
