<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= stylesheet_link_tag 'core', media: 'all' %>
    <%= javascript_include_tag 'core' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "layouts/application/constants" %>
    <%= render "layouts/application/navbar_top" %>
    <content class="container-fluid">
      <%= render "layouts/application/navbar_left" %>
      <yield class="col-lg-11 col-lg-offset-1 col-md-11 col-md-offset-1  col-sm-offset-1 col-sm-11">
        <%= render "layouts/application/flash" %>
        <%= yield %>
      </yield>
   </content>
  </body>
</html>
