<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= stylesheet_link_tag 'core', media: 'all' %>
    <%= javascript_include_tag 'core' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "layouts/navbar_top" %>
    <content class="container">
      <%= render "layouts/navbar_left" %>
      <yield class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-3 col-xs-offset-2">
        <%= render "layouts/flash" %>
        <%= yield %>
      </yield>
   </content>
  </body>
</html>
